/*
Theme Name: Twenty Sixteen
Theme URI: https://wordpress.org/themes/twentysixteen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Sixteen is a modernized take on an ever-popular WordPress layout — the horizontal masthead with an optional right sidebar that works perfectly for blogs and websites. It has custom color options with beautiful default color schemes, a harmonious fluid grid using a mobile-first approach, and impeccable polish in every detail. Twenty Sixteen will make your WordPress look beautiful everywhere.
Version: 1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog
Text Domain: twentysixteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


/**
 * Table of Contents
 *
 * 1.0 - Normalize
 * 2.0 - Genericons
 * 3.0 - Typography
 * 4.0 - Elements
 * 5.0 - Forms
 * 6.0 - Navigation
 *   6.1 - Links
 *   6.2 - Menus
 * 7.0 - Accessibility
 * 8.0 - Alignments
 * 9.0 - Clearings
 * 10.0 - Widgets
 * 11.0 - Content
 *    11.1 - Header
 *    11.2 - Posts and pages
 *    11.3 - Post Formats
 *    11.4 - Comments
 *    11.5 - Sidebar
 *    11.6 - Footer
 * 12.0 - Media
 *    12.1 - Captions
 *    12.2 - Galleries
 * 13.0 - Multisite
 * 14.0 - Media Queries
 *    14.1 - >= 710px
 *    14.2 - >= 783px
 *    14.3 - >= 910px
 *    14.4 - >= 985px
 *    14.5 - >= 1200px
 * 15.0 - Print
 */


/**
 * 1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */

<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}


/**
 * 2.0 - Genericons
 */

.menu-item-has-children a:after,
.social-navigation a:before,
.dropdown-toggle:after,
.bypostauthor > article .fn:after,
.comment-reply-title small a:before,
.pagination .prev:before,
.pagination .next:before,
.pagination .nav-links:before,
.pagination .nav-links:after,
.search-submit:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: "Genericons";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}


/**
 * 3.0 - Typography
 */

body,
button,
input,
select,
textarea {
	color: #1a1a1a;
	font-family: Merriweather, Georgia, serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
	margin: 0;
	text-rendering: optimizeLegibility;
}

p {
	margin: 0 0 1.75em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border: 0 solid #1a1a1a;
	border-left-width: 4px;
	color: #686868;
	font-size: 19px;
	font-size: 1.1875rem;
	font-style: italic;
	line-height: 1.4736842105;
	margin: 0 0 1.4736842105em;
	overflow: hidden;
	padding: 0 0 0 1.263157895em;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote p {
	margin-bottom: 1.4736842105em;
}

blockquote cite,
blockquote small {
	color: #1a1a1a;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

blockquote > :last-child {
	margin-bottom: 0;
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
}

pre {
	border: 1px solid #d1d1d1;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3125;
	margin: 0 0 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	background-color: #d1d1d1;
	padding: 0.125em 0.25em;
}

abbr,
acronym {
	border-bottom: 1px dotted #d1d1d1;
	cursor: help;
}

mark,
ins {
	background: #007acc;
	color: #fff;
	padding: 0.125em 0.25em;
	text-decoration: none;
}

big {
	font-size: 125%;
}


/**
 * 4.0 - Elements
 */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {	
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #d1d1d1;
	border: 0;
	height: 1px;
	margin: 0 0 1.75em;
}

ul,
ol {
	margin: 0 0 1.75em 1.25em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
	margin-left: 1.5em;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1.75em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 0 1.75em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

table,
th,
td {
	border: 1px solid #d1d1d1;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

:-moz-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

::-moz-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}


/**
 * 5.0 - Forms
 */

input {
	line-height: normal;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	background: #1a1a1a;
	border: 0;
	border-radius: 2px;
	color: #fff;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-weight: 700;
	letter-spacing: 0.046875em;
	line-height: 1;
	padding: 0.84375em 0.875em 0.78125em;
	text-transform: uppercase;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #007acc;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	background: #f7f7f7;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	color: #686868;
	padding: 0.625em 0.4375em;
	width: 100%;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	background-color: #fff;
	border-color: #007acc;
	color: #1a1a1a;
	outline: 0;
}

.post-password-form {
	margin-bottom: 1.75em;
}

.post-password-form label {
	color: #686868;
	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 1.75em;
	text-transform: uppercase;
}

.post-password-form input[type="password"] {
	margin-top: 0.4375em;
}

.post-password-form > :last-child {
	margin-bottom: 0;
}

.search-form {
	position: relative;
}

input[type="search"].search-field {
	border-radius: 2px 0 0 2px;
	width: -webkit-calc(100% - 42px);
	width: calc(100% - 42px);
}

.search-submit:before {
	content: "\f400";
	font-size: 24px;
	left: 2px;
	line-height: 42px;
	position: relative;
	width: 40px;
}

.search-submit {
	border-radius: 0 2px 2px 0;
	bottom: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 42px;
}


/* Khoa-Bai tap thuc hanh javascript */
/* Loai 1 */
/* EWM Search */
/* Button */
.ewm-search .search-submit {
	width: 50px;
}

.ewm-search .screen-reader-text {
	display: none;
}

/* Loai 2 */
/* EWM Style 1 */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-1  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	height: 15px!important;
	width: 15px!important;
	font-size: initial!important;
}

.ewm-search.ewm-style-1  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md:hover .vc_icon_element-icon {
	color: #78bca1;
}

/* Widget Search */
.ewm-search.ewm-style-1 .widget_search {
	width:  307.142857143px;
	background-color: rgba(0,0,0,.5);
	padding: 25px;
}

/* Search Field */
.ewm-search.ewm-style-1 .search-field {
	height: 40px;
	padding: 8px 15px;
	background: #eaeaea;
}

.ewm-search.ewm-style-1 .search-field:focus {
	background: #eaeaea;
}


/* Search Submit */
.ewm-search.ewm-style-1 .search-submit {
	width: 40px;
	height: 40px;
	right: initial;
}

.ewm-search.ewm-style-1 .search-submit:hover {
	background: #78bca1; 
}

.ewm-search.ewm-style-1 .search-submit:before {
	width: 15px;
	left: 0;
	top: 0;
    line-height: 40px;
    font-size: 1.15em;
    font-weight: 700;
    position: relative;
} 

.ewm-search.ewm-style-1 .search-submit:focus {
   	outline: 0;
}

/* Placeholder */
.ewm-search.ewm-style-1 ::-webkit-input-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-1 :-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-1 ::-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-1 :-ms-input-placeholder {
	color: #333;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 3 Top */
/* EWM Style 2 */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-2  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	display: none;
}

/* Widget Search */
.ewm-search.ewm-style-2 .widget_search {
	width: 215px;
}

/* Search Form */
.ewm-search.ewm-style-2 .search-form {
	border: 1px solid #ddd;
}

.ewm-search.ewm-style-2 .search-form:hover {
	border-color: #333;
}


/* Search Field */
.ewm-search.ewm-style-2 .search-field {
	height: 34px;
	background: #fff;
	padding: 2px 37px 2px 7px;
	border: none;
	width: 100%;
}

/* Search Submit */
.ewm-search.ewm-style-2 .search-submit {
	height: 34px;
	width: 36px;
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
}

.ewm-search.ewm-style-2 .search-submit:before {
	width: 15px;
	right: 0;
	top: 0;
    line-height: 34px;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    color: #aaa;
} 

.ewm-search.ewm-style-2 .search-submit:focus {
   	outline: 1px solid #007acc;
   	outline-offset: 1px;
}

/* Placeholder */
.ewm-search.ewm-style-2 ::-webkit-input-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-2 :-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-2 ::-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-2 :-ms-input-placeholder {
	color: #333;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 3 Header */
/* EWM Style 3 */
/* Vc Icon Element Inner */
.ewm-search.ewm-style-3 .vc_icon_element-inner.vc_icon_element-size-md  {
	border: none;
	background: #2961ae;
	width: 46px;
	height: 40px;
	position: relative;
}

.ewm-search.ewm-style-3 .vc_icon_element-inner.vc_icon_element-size-md:hover:before {
	position: absolute;
	content: '';
	width: 46px;
	height: 3px;
	top: 0;
	left: 0;
	background-color: #fa9e19;
}

/* Vc Icon Element Icon */
.ewm-search.ewm-style-3  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	height: 15px!important;
	width: 15px!important;
	font-size: 16px!important;
	color: #fff;
}


/* Widget Search */
.ewm-search.ewm-style-3 .widget_search {
	background: #fff;
	border-top: 4px solid #fa9e19;
	padding: 35px;
	box-shadow: 0 2px 5px rgba(0,0,0,.15);
}

/* Search Form */
.ewm-search.ewm-style-3 .search-form {
	border: 1px solid #ccc;
	width: 100%;
}

.ewm-search.ewm-style-3 .search-form:hover {
	border-color: #333;
}

/* Search Field */
.ewm-search.ewm-style-3 .search-field {
	height: 48px;
	background: #fff;
	padding: 2px 37px 2px 15px;
	border: none;
	max-width: 1200px;
}

/* Search Submit */
.ewm-search.ewm-style-3 .search-submit {
	height: 48px;
	width: 36px;
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
}

.ewm-search.ewm-style-3 .search-submit:before {
	width: 15px;
	right: 0;
	top: 0;
    line-height: 48px;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    color: #aaa;
} 

.ewm-search.ewm-style-3 .search-submit:focus {
   	outline: 1px solid #007acc;
   	outline-offset: 1px;
}

/* Placeholder */
.ewm-search.ewm-style-3 ::-webkit-input-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-3 :-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-3 ::-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-3 :-ms-input-placeholder {
	color: #333;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 4 */
/* EWM Style 4 */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-4  .vc_icon_element.vc_icon_element-outer {
	position: relative;
}

.ewm-search.ewm-style-4  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 24px;
	left: 22px;
	z-index: 100;
	border: 0;
	text-align: inherit;
}

.ewm-search.ewm-style-4  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	height: 100%!important;
	width: 100%!important;
	font-size: initial!important;
	color: #000;
	top: initial;
	left: initial;
}

/* Widget Search */
.ewm-search.ewm-style-4 .widget_search {
	width: 435px;
	display: inline-block;
}

/* Search Field */
.ewm-search.ewm-style-4 .search-field {
	background: #f6f6f6;
    border: 3px solid #ececec;
    height: 50px;
    width: 100%;
    padding: 0 55px 0 40px;
    	-webkit-box-sizing: border-box;
     	transition: all 0.5s ease-out;
    outline: none;
}

.ewm-search.ewm-style-4:hover .search-field,
.ewm-search.ewm-style-4 .search-field:focus {
	border-color: #666;
    background-color: #fff;
}

/* Search Submit */
.ewm-search.ewm-style-4 .search-submit {
	display: none;
}

/* Placeholder */
.ewm-search.ewm-style-4 ::-webkit-input-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-4 :-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-4 ::-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-4 :-ms-input-placeholder {
	color: #333;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 5 */
/* EWM Style 5 */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-5  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	font-size: 20px!important;
}

.ewm-search.ewm-style-5 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon:before {
	color: #000;
}

.ewm-search.ewm-style-5 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md:hover .vc_icon_element-icon:before {
	color: #ff3c36;
}

/* Widget Search */
.ewm-search.ewm-style-5 .widget_search {
	width: 100%;
	height: 720px;
    background: rgba(255,255,255,.94);/*.94*/
    position: relative;
}

/* Search Form */
.ewm-search.ewm-style-5 .search-form {
    position: absolute;
    margin: -60px 0 0 -300px;
    top: 50%;
    left: 50%;
    width: 600px;	
}

/* Search Field */
.ewm-search.ewm-style-5 .search-field  {
    background: none;
    border: 0;
    border-bottom: 7px solid #444;
    font-size: 70px;
    font-weight: 700;
    line-height: 100%;
    padding: 20px 0;
    width: 100%;
    height: 70px;
}

/* Search Submit */
.ewm-search.ewm-style-5 .search-submit {
	display: none;
}

/* Loai 6 */
/* EWM Style 6 */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-6  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	display: none;
}

/* Widget Search */
.ewm-search.ewm-style-6 .widget_search {
   width: 200px;
   display: inline-block;
}

/* Search Field */
.ewm-search.ewm-style-6 .search-field {
	height: 35px;
	width: 100%;
	color: #fff;
	background: #1a1a1a;
	border-top: 0;
	border-bottom: 1px solid #4d4d4d;
	border-left: 0;
	border-right: 0;
}

.ewm-search.ewm-style-6 .search-field:focus { 
	border: 0;
}

/* Search Submit */
.ewm-search.ewm-style-6 .search-submit {
	width: 30px;
	height: 35px;
	background: transparent;
}

.ewm-search.ewm-style-6 .search-submit:hover {
	background: none;
}

.ewm-search.ewm-style-6 .search-submit:focus {
	outline: none;
}

.ewm-search.ewm-style-6 .search-submit:before {
	width: initial;
	line-height: initial;
	left: initial;
	font-size: 16px;
}

/* Placeholder */
.ewm-search.ewm-style-6 ::-webkit-input-placeholder {
	color: #fff;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-6 :-moz-placeholder {
	color: #fff;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-6 ::-moz-placeholder {
	color: #fff;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-6 :-ms-input-placeholder {
	color: #fff;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 7 */
/* EWM Style 7 */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-7  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md  {
	width: 20px;
	height: 20px;
}

.ewm-search.ewm-style-7  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	font-size: initial!important;
}

.ewm-search.ewm-style-7  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon:before {
	color: #000;
}

/* Widget Search */
.ewm-search.ewm-style-7 .widget_search {
   position: relative; 
   padding: 10px; 
   background-color: rgba(20, 20, 20, 0.3);
}

/* Search Form*/
.ewm-search.ewm-style-7 .search-form {
	width: 220px;
	height: 60px;
}

.ewm-search.ewm-style-7 .search-field {
	background: transparent;
	position: absolute;
    padding-left: 10px;
    top: 0px;
    left: 24px;
    right: 0px;
    height: 100%;
    font-size: 13px;
    border: none;
}

/* Search Submit */
.ewm-search.ewm-style-7 .search-submit {
	width: 20px;
	height: 40px;
	background: transparent;
	overflow: initial;
}

.ewm-search.ewm-style-7 .search-submit:before {
	position: absolute;
    font-size: 18px; 
    line-height: initial;  
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 100; 
}

.ewm-search.ewm-style-7 .search-submit:after {
	content: '\f00d';
	position: absolute;
    font-size: 18px; 
    top: 20px;
    right: 200px; 
    color: #fff; 
    width: 100%;
    height: 100%;
    z-index: 100;
}

.ewm-search.ewm-style-7 .search-submit:focus {
	outline: none;
}

/* Placeholder */
.ewm-search.ewm-style-7 ::-webkit-input-placeholder {
	color: #fff;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-7 :-moz-placeholder {
	color: #fff;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-7 ::-moz-placeholder {
	color: #fff;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-7 :-ms-input-placeholder {
	color: #fff;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 8 */
/* EWM Style 8 */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-8 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md  {
	width: 20px;
	height: 20px;
}

.ewm-search.ewm-style-8  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	font-size: initial!important;
}

.ewm-search.ewm-style-8  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon:before {
	color: #000;
}

/* Widget Search */
.ewm-search.ewm-style-8 .widget_search {
   position: relative; 
   padding: 10px;
   width: 250px;
   height: 62px; 
   background-color: #fff;
   border-top: 3px solid #1abc9c;
   box-shadow: 0 0 6px rgba(0,0,0,.1);
   display: inline-block;
 	  -webkit-transition: all ease-in-out .3s;	
}

/* Search Field */
.ewm-search.ewm-style-8 .search-field {
	border: 1px solid rgba(102,102,102,.1);
    width: 100%;
    font-size: 14px;
    padding: 9px 5px 9px 20px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0,0,0,.05);
}

/* Search Submit */
.ewm-search.ewm-style-8 .search-submit {
	width: 32px;
	height: 40px;
	background: transparent;
	border-radius: 0;
}

.ewm-search.ewm-style-8 .search-submit:before {
	position: absolute;
    font-size: 20px; 
    font-weight: 700;
    right: 0;
    left: 2px;
    line-height: 0;  
    width: 100%;
    height: 100%;
    color :#1abc9c;
}

.ewm-search.ewm-style-8 .search-submit:focus {
	outline: none;
}

/* Placeholder */
.ewm-search.ewm-style-8 ::-webkit-input-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-8 :-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-8 ::-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-8 :-ms-input-placeholder {
	color: #333;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 9 */
/* EWM Style 9 */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-9 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md  {
    width: 30px;
    height: 30px;
}

.ewm-search.ewm-style-9  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	font-size: initial!important;
}

.ewm-search.ewm-style-9  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon:before {
	color: #000;
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
}

/* Widget Search */
.ewm-search.ewm-style-9 .widget_search {
    z-index: 370;
    background-color: rgba(0,0,0,.9);
    height: 563px;
    padding: 0 90px 0;
    transition: opacity .25s ease-in-out,visibility .25s,transform .25s ease-in-out;
}

/* Search Field */
.ewm-search.ewm-style-9 .search-field {
	border: none;
    border-bottom: 2px solid rgba(255,255,255,.3);
    font-size: 68px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 120px;
    height: 122px;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    width: 100%;
}

/* Search Submit */
.ewm-search.ewm-style-9 .search-submit {
	width: 80px;
	height: 120px;
	background: transparent;
	border-radius: 0;
}

.ewm-search.ewm-style-9 .search-submit:before {
	position: absolute;
    font-size: 80px;
    line-height: 0;
    color: rgba(255,255,255,.5);
}

.ewm-search.ewm-style-9:hover .search-submit:before {
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.ewm-search.ewm-style-9 .search-submit:focus {
	outline: none;
}

/* Placeholder */
/*.ewm-search.ewm-style-9 ::-webkit-input-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}*/

/*.ewm-search.ewm-style-9 :-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}*/

/*.ewm-search.ewm-style-9 ::-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default 
}
*/
/*.ewm-search.ewm-style-9 :-ms-input-placeholder {
	color: #333;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}*/

/* Loai 10 */
/* EWM Style 10 */
/* Wpb Wrapper */
.ewm-search.ewm-style-10 .wpb_wrapper {
	background: #000;
	padding-bottom: 50px;
}

/* Vc Icon Element Icon */
.ewm-search.ewm-style-10 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md  {
    height: 44px;
    width: 44px;
}

.ewm-search.ewm-style-10  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	font-size: initial!important;
}

.ewm-search.ewm-style-10  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon:before {
	color: #fff;
	font-size: 19px;
}

/* Widget Search */
.ewm-search.ewm-style-10 .widget_search {
    border-radius: 0;
    border-width: 0 1px 1px 1px;/*0 1px 1px 1px*/
    border-style: solid;
    border-color: #e6e6e6;
    width: 341px;
    background: #fff;
    display: inline-block;
    padding: 21px 20px 20px 21px;
}

.ewm-search.ewm-style-10 .widget_search:before {
	position: absolute;
    top: 77px;
    left: 320px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 6px 5.5px;
    border-color: transparent transparent #fff transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Search Field */
.ewm-search.ewm-style-10 .search-field {
	background-color: #fff;
    width: 95%;
    height: 32px;
    border: 1px solid #e6e6e6;
}

.ewm-search.ewm-style-10 .search-field:focus {
    border-color: #ccc;
}

/* Search Submit */
.ewm-search.ewm-style-10 .search-submit {
	border-radius: 0 3px 3px 0;
	width: 67px;
    height: 32px;
    line-height: 17px;
}

.ewm-search.ewm-style-10:hover .search-submit {
	background: #ffe228;
}

.ewm-search.ewm-style-10 .search-submit:before {
	display: none;
}

.ewm-search.ewm-style-10 .search-submit:focus {
	outline: none;
}

/* Screen Reader Text */
.ewm-search.ewm-style-10 .search-submit .screen-reader-text {
	display: block;
	font-size: 11px;
	font-weight: 600;
}

/* Placeholder */
.ewm-search.ewm-style-10 ::-webkit-input-placeholder {
	color: #fff;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-10 :-moz-placeholder {
	color: #fff;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-10 ::-moz-placeholder {
	color: #fff;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-10 :-ms-input-placeholder {
	color: #fff;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 11-a */
/* EWM Style 11-a */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-11-a .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md  {
	width: 51px;
    height: 60px;
    background: #fff;
}

.ewm-search.ewm-style-11-a .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md:hover  {
	background: #F4F4F4;
} 

.ewm-search.ewm-style-11-a .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	font-size: initial!important;
}

.ewm-search.ewm-style-11-a .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon:before {
	color: #9E9E9E;
	font-size: 22px;
}

/* Widget Search */
.ewm-search.ewm-style-11-a .widget_search {
    background-color: #3a4349;
    padding: 55px 0 55px 100px;
}

.ewm-search.ewm-style-11-a .search-form {
	width: 90%;
	max-width: 1170px;
	display: inline-block;
}

/* Search Field */
.ewm-search.ewm-style-11-a .search-field {
	width: 100%;
    background: #FFF;
    border-radius: 3px;
    padding: 15px;
    margin: 0;
    border: 0;
}

.ewm-search.ewm-style-11-a .search-field:focus {
    border: 0;
}

/* Search Submit */
.ewm-search.ewm-style-11-a .search-submit {
	background: transparent;
}

.ewm-search.ewm-style-11-a .search-submit:before {
    font-size: 38px;
    color: #000;
    font-weight: 700;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    transition: color .4s;
}

.ewm-search.ewm-style-11-a:hover .search-submit:before {
	 color: #fda607;
}

.ewm-search.ewm-style-11-a .search-submit:focus {
	outline: none;
}

/* Placeholder */
.ewm-search.ewm-style-11-a ::-webkit-input-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-11-a :-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-11-a ::-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-11-a :-ms-input-placeholder {
	color: #333;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 11-b */
/* EWM Style 11-b */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-11-b .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	display: none;
}

/* Widget Search */
.ewm-search.ewm-style-11-b .widget_search {
    background-color: #f4f4f4;
    padding: 20px;
    width: 315px;
	height: 82px;
}

.ewm-search.ewm-style-11-b .search-form {
	display: inline-block;
}

/* Search Field */
.ewm-search.ewm-style-11-b .search-field {
	width: 95%;
    background: #fff;
    margin: 0;
    padding: 10px;
    border-color: #E8E8E8;
    border-radius: 3px;
}

.ewm-search.ewm-style-11-b .search-field:focus {
    border-color: #fda607
}

/* Search Submit */
.ewm-search.ewm-style-11-b .search-submit {
	border: 0;
    padding: 9px 10px;
    border-radius: 4px;
    margin-right: -40px;
    width: initial;
   	background-color: #fda607;
}

.ewm-search.ewm-style-11-b:hover .search-submit {
	opacity: .4;
}

.ewm-search.ewm-style-11-b .search-submit:before {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    left: 0;
    width: initial;
    line-height: initial;
}

.ewm-search.ewm-style-11-b .search-submit:focus {
	outline: none;
}

/* Placeholder */
.ewm-search.ewm-style-11-b ::-webkit-input-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-11-b :-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-11-b ::-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-11-b :-ms-input-placeholder {
	color: #333;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 12 */
/* EWM Style 12 */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-12 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md  {
	width: 40px;
    height: 40px;
    background: #ffe400;
}

.ewm-search.ewm-style-12 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	font-size: initial!important;
}

.ewm-search.ewm-style-12 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon:before {
	color: #1f1f1f;
	font-size: 19px;
}

.ewm-search.ewm-style-12 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md:hover .vc_icon_element-icon:before {
	color: #534d1e;
}

/* Widget Search */
.ewm-search.ewm-style-12 .widget_search {
    width: 265px;
	height: 48px;
}

/* Search Field */
.ewm-search.ewm-style-12 .search-field {
	width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 24px;
    -webkit-box-shadow: 0 0 4px #c0c0c0;
    -moz-box-shadow: 0 0 4px #c0c0c0;
    box-shadow: 0 0 4px #c0c0c0;
    padding: 12px 14px;
}

/* Search Submit */
.ewm-search.ewm-style-12 .search-submit {
	display: none;
}

/* Placeholder */
.ewm-search.ewm-style-12 ::-webkit-input-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-12 :-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-12 ::-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-12 :-ms-input-placeholder {
	color: #333;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 13 */
/* EWM Style 13 */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-13 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	display: none;
}

/* Widget Search */
.ewm-search.ewm-style-13 .widget_search {
    width: 120px;
    position: relative;
}

/* Search Field */
.ewm-search.ewm-style-13 .search-field {
	width: 100%;
	height: 31px;
	background: #fbfbfb;
	border-top: 3px solid #f88c00;;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;;
    padding: 9px 12px 8px 12px;
    	-webkit-transition: width .7s,color .4s;
    	-moz-transition: width .7s,color .4s;
    	-o-transition: width .7s,color .4s;
    	transition: width .7s,color .4s;
}

/* Search Submit */
.ewm-search.ewm-style-13 .search-submit {
	width: 30px;
    height: 31px;
    background: #f88c00;
    overflow: initial;
}

.ewm-search.ewm-style-13 .search-submit:before {
	font-size: 22px;
	color: #fff;
	font-weight: 700;
	left: 0;
	line-height: initial;
	width: initial;
}

.ewm-search.ewm-style-13 .search-submit:after {
	position: absolute;
	display: block;
	content: '';
    width: 0;
    height: 0;
    top: 11px;
    right: 30px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid #F88C00;
    z-index: 100;
}

.ewm-search.ewm-style-13 .search-submit:focus {
	outline: none;
}

/* Placeholder */
.ewm-search.ewm-style-13 ::-webkit-input-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-13 :-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-13 ::-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-13 :-ms-input-placeholder {
	color: #333;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 14 */
/* EWM Style 14 */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-14 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md  {
	width: 40px;
    height: 60px;
   	background-color: #2854a1;
}

.ewm-search.ewm-style-14 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	font-size: initial!important;
}

.ewm-search.ewm-style-14 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon:before {
	color: #fff;
	font-size: 24px;
}

/* Widget Search */
.ewm-search.ewm-style-14 .widget_search {
	background-color: #2854a1;
	padding: 20px 45px 20px 85px;
}

/* Search Form */
.ewm-search.ewm-style-14 .search-form {
	width: 1170px;
	height: 41px;
}

/* Search Field */
.ewm-search.ewm-style-14 .search-field {
	width: 100%;
	height: 100%;
	padding-left: 50px;
	background: #fff;
	border-radius: 60px;
}

.ewm-search.ewm-style-14 .search-field:focus {
	border: none;
} 

/* Search Submit */
.ewm-search.ewm-style-14 .search-submit {
	display: none;
}


/* Placeholder */
.ewm-search.ewm-style-14 ::-webkit-input-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-14 :-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-14 ::-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-14 :-ms-input-placeholder {
	color: #333;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 15 */
/* EWM Style 15 */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-15 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md  {
	width: 40px;
    height: 60px;
   	background-color: rgba(0,0,0,0.7);
}

.ewm-search.ewm-style-15 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	font-size: initial!important;
}

.ewm-search.ewm-style-15 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon:before {
	color: #fff;
	font-size: 14px;
}

.ewm-search.ewm-style-15 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md:hover .vc_icon_element-icon:before {
	color: #ffb606;
}

/* Widget Search */
.ewm-search.ewm-style-15 .widget_search {
	background-color: rgba(0,0,0,0.8);
	height: 702px;
	position: relative;
}

/* Search Form */
.ewm-search.ewm-style-15 .search-form {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 50px;
	margin: -60px 0 0 -300px;
}

/* Search Field */
.ewm-search.ewm-style-15 .search-field {
	width: 100%;
	height: 100%;
	padding-left: 20px;
	background: #fff;
}

.ewm-search.ewm-style-15 .search-field:focus {
	border: none;
} 

/* Search Submit */
.ewm-search.ewm-style-15 .search-submit {
	width: 50px;
	background: #ffb606;
}

.ewm-search.ewm-style-15 .search-submit:before {
	font-size: 20px;
	font-weight: 700;
	line-height: 50px;
}

.ewm-search.ewm-style-15 .search-submit:focus {
	outline: 0;
}

/* Placeholder */
.ewm-search.ewm-style-15 ::-webkit-input-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-15 :-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.ewm-search.ewm-style-15 ::-moz-placeholder {
	color: #333;
	font-weight: 100;
	font-size: 13px;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

.ewm-search.ewm-style-15 :-ms-input-placeholder {
	color: #333;
	font-size: 13px;
	font-weight: 100;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* Loai 16 */
/* EWM Style 16 */
/* Vc Icon Element Icon */
.ewm-search.ewm-style-16 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md  {
	width: 32px;
    height: 60px;
   	background-color: #fff;
}

.ewm-search.ewm-style-16 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
	font-size: initial!important;
}

.ewm-search.ewm-style-16 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon:before {
	color: #393939;;
	font-size: 14px;
}

.ewm-search.ewm-style-16 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md:hover .vc_icon_element-icon:before {
	color: #ffb606;
}

/* Widget Search */
.ewm-search.ewm-style-16 .widget_search {
	background-color: #393939;;
	height: 50px;
	position: relative;
}

/* Search Form */
.ewm-search.ewm-style-16 .search-form {
	width: 1100px;
	margin: 0 auto;
	height: 100%;
}

.ewm-search.ewm-style-16 .search-form:before {
	position: absolute;
	content: "\f400";
	top: 14px;
    left: -10px;
	color: #fff;
	font-size: 14px;
}

/* Search Field */
.ewm-search.ewm-style-16 .search-field {
	width: 100%;
	height: 100%;
	padding-left: 15px 0 0 10px;
	background: transparent;
	border: none;
	margin: 0 auto;
}

.ewm-search.ewm-style-16 .search-field:focus {
	border: none;
} 

/* Search Submit */
.ewm-search.ewm-style-16 .search-submit {
	background: transparent;
}

.ewm-search.ewm-style-16 .search-submit:focus {
	outline: 0;
}

.ewm-search.ewm-style-16 .search-submit:before {
	display: none;
}







































	

